*{
		padding: 0;
		margin: 0;
		font-family: 'Microsoft YaHei';
	}
		html,body{
		width: 100%;
		}
		
		.slide{
			text-align: center;
		}
		
		.section{
			
		}
		#fp-nav ul li a.active span,  
		.fp-slidesNav ul li a.active span {  
   	 	color: red; /*这里设置的是活动导航的颜色*/  
		}  
		#fp-nav ul li .fp-tooltip {
			color: #000;/*这里设置的是导航提示文字的颜色*/
		}
		
		
		#header{
			width: 100%;
			height: 80px;
			background: #ccc;
			position: fixed;
			top: 0;
			left: 0;
			opacity: 0;

		}
		header{
			width: 100%;
			height: 80px;
			position: fixed;
			top: 0;
			left: 0;
			opacity: 0.3;

		}
		header #header-left{
			float: left;
			margin-left:20px;
		}

		header #header-left #div-img{
			width: 80px;
			height: 80px;
			float: left;
		}
		header #header-left #div-img img{
			height: 80px;
			width: 80px;
			border-radius: 50%;
			-wibkit-transition:box-shadow 0.5s;
			transition: box-shadow 0.5s;
		}
		header #header-left #div-img img:hover{
			box-shadow: 0 0 15px 0 #099;
		}
		header #header-left #div-p{
			float: left;
			line-height: 80px;
			margin-left:20px;
			color: #000;
			font-size: 12px;
			width: 90px;
			
		}



		header nav{
			float: right;
			margin-right: 20px;
			margin-top:30px; 
		}
		header nav ul{
			list-style: none;
		}
		header nav ul li{
			float: left;
			margin-left: 5px;
			margin-right: 5px;
			
		}
		header nav ul li a{
			font-size: 12px;
			color: #666;
			padding: 34px 0;
			text-decoration:none;
			position: relative;
			} 
		
		/*nav动画*/
		header nav ul li a:hover{
			color: #000;
		}
		header nav ul li a:after{
			content:"";
			height: 2px;
			background: #099;
			position: absolute;
			left: 50%;
			right: 50%;
			bottom: 0;
			-webkit-transition: 0.2s ease-in;
			transition: 0.2s ease-in;
			opacity: 0;
		}
		header nav ul li a:hover:after {
		left: 0;
		right: 0;
		opacity: 1;
		}
		


		#home,#about,#skill,#works,#experience,#contact{
			width: 100%;
			height: 100%;
			background: url(../img/background.jpg) no-repeat;
			background-size: 120% 120%;
			overflow: hidden;

		}
		
		#home_countent{
			width: 1000px;
			margin: 800px auto;
		}
		#home_head{
			height: auto;
			padding-top:80px; 
		}
		#home_head_content{
			margin:100px auto 0 auto;
			width: 150px;
			height: 150px;
			position: relative;
		}
		#home_head_content img{
			width: 150px;
			height: 150px;
			position: absolute;
			border-radius: 50%;
			-wibkit-transition:box-shadow 0.5s;
			transition:box-shadow 0.8s;
		}
		#home_head_content img:hover{
			box-shadow: 0 0 15px 5px #099;
		}
		#home_head_content #photo1{
			opacity: 0;
			/*-wibkit-transition:opacity 0.5s;
			transition:opacity 1s;*/
		}
		/*#home_head_content #photo1:hover{
			opacity: 1;
		}*/
		#home_info{
			height: auto;
			margin: 0 auto;
		}
		#home_info1,#home_info2,#home_info3,#home_info4{
			width: 800px;
			margin: 0 auto;
			text-align: center;
			margin: 15px auto;
			margin-top: 1500px;
			color: #000;
		}

		/*关于我*/

		
		.title{
			width: 150px;
			margin: 0 auto;
			text-align:center;
			margin-top: 100px;
			font-size: 20px;
			font-weight: normal;
		}
		#about_content{
			width: 775px;
			height: 210px;
			margin: 50px auto;
			border-radius:30px;
			background: #afc7e0;
			overflow: hidden;
		}

		#about_content ul li{
			float: left;
			list-style: none;
			margin-left: 75px;
			margin-top: 20px;
			width: 100px;
		}

		#about_content ul li:hover .about_img{
			box-shadow: 0 0 5px 8px #999;
		}

		.about_img{
			background-size: 100%;
			box-shadow: 0 0 0 4px #fff;
			height: 100px;
			border-radius: 50%;
			-webkit-transition: background 1s, color 1s, box-shadow 1s;
			transition: background 1s, color 1s, box-shadow 1s;
		}
		
		.about_cn{
			margin-top: 30px;
			position: relative;
			font-size: 14px;
		}
		.about_cn p{
			padding-top: 10px;
			text-align: right;
		}
		.about_cn p:before{
			display: block;
			content: "";
			position: absolute;
			background: #999;
			height: 2px;
			width: 90px;
			bottom: 25px;
			-webkit-transform: rotate(-30deg);
			transform: rotate(-30deg);
		}

		#about_img1:before {
			content: url(../img/education.png);
		}
		#about_img2:before {
			content: url(../img/age.png);
		}
		#about_img3:before {
			content: url(../img/location.png);
		}
		#about_img4:before {
			content: url(../img/status.png);
		}
		.about_img:before{
			display: block;
	   	 	line-height: 150px;
	    	text-align: center;
		}

		#about_p{
			width: 800px;
			margin: 0 auto;
			position: relative;
			opacity: 0;
		}
		#about_p p{
			text-align: center;
		}
		#about_p:before{
			content: '';
			height: 40px;
			width: 20px;
			position: absolute;
			top: 0;
			left: 0;
			border-left:2px solid #5686D6;
			border-top:2px solid #5686D6;
		}
		#about_p:after{
			content: '';
			height: 40px;
			width: 20px;
			position: absolute;
			bottom: 0;
			right: 0;
			border-right:2px solid #5686D6;
			border-bottom:2px solid #5686D6;
		}

		/*专业技能*/

		#skill_content{
			width: 800px;
			margin: 0 auto;
			margin-top: 50px;
			overflow: hidden;

		}
		#skill_content .ul1{
			overflow: hidden;
			list-style: none;
		}
		#skill_content .ul1 li{

			width: 200px;
			overflow: hidden;
			float: left;
		}

		.skill_icon{
			width: 100px;
			height: 100px;
			margin: 20px auto;
			cursor:pointer;
	    	-webkit-transform: scale(1.0);
	    	transform: scale(1.0);
	    	transition : transform .25s;
		}
		.skill_icon:hover{
			-webkit-transform: scale(1.4);
    		transform: scale(1.4);
    		transition : transform .5s;
		}

		.skill_name{
			width: 100px;
			height: 20px;
			margin: 0 auto;
			margin-top: 50px;
			text-align: center;
			line-height: 20px;
			font-size: 20px;
		}
		.skill_flag{
			width: 30px;
			height: 30px;
			margin: 0 auto;
			margin: 20px auto;
			background: url(../img/skill_flag.png) no-repeat center center;
			-webkit-transition-duration: 1s;
			transition-duration: 1s;
		}
		.skill_flag_rotate{
			-webkit-transform: rotate(180deg);
			transform: rotate(180deg);
		}
		.skill_textbox{
			width: 200px;
			height: 120px;
			margin: 0 auto;
			background: #afc7e0;
			border-radius: 10px;
			display: none;
		}
		#skill_content .skill_textbox ul{
			list-style: disc;
    		list-style-position: inside;
    		overflow: hidden;

		}
		#skill_content .skill_textbox ul li{
			    font-size:13px; 
			    float: none;
			    width: 170px;
			    margin-left: 10px;
			    margin-top:5px; 
		}
		#skill_icon1{
			background: url(../img/html.png) no-repeat;
			background-size:contain;
		}
		#skill_icon2{
			background: url(../img/css.png) no-repeat;
			background-size:contain;
		}
		#skill_icon3{
			background: url(../img/js.png) no-repeat;
			background-size:contain;
		}
		#skill_icon4{
			background: url(../img/jq.png) no-repeat;
			background-size:contain;
		}
		/*我的作品*/
		#works .works_content{
		width: 800px;
		margin: 0 auto;
		margin-top: 50px;
		overflow: hidden;	
		}
		.works_content li{
		width: 170px;
		height: 170px;
		margin: 5px 15px;
		text-align: center;
		float: left;
		list-style: none;
		}

		/*联系我*/
		.contact_pbox{
			width: 800px;
			margin: 50px auto;
			text-align: center;
			color: #666;
		}
		#contact_call{
			width: 1000px;
			margin: 0 auto;
			overflow: hidden;
		}

		.tel_email{
			width: 500px;
			float: left;

		}
		.tel_email p{
			padding-left:30px; 
			font-size: 16px;
			margin: 20px 0 0 50px;
		}
		.tel_email .email{
			background: url(../img/email.png) no-repeat;
			background-size:contain;
		}
		.tel_email .email a{
			font-size: 12px;
			color: #666;
			padding-left:10px; 
		}
		.tel_email .tel{
			background: url(../img/tel.png) no-repeat;
			background-size:contain;
		}
		.tel_email .qq{
			background: url(../img/qq.png) no-repeat;
			background-size:contain;
		}
		.two_dimension_code{
			width: 500px;
			float: left;
			overflow: hidden;
		}
		.two_dimension_code p{
			float: left;
			padding-left: 30px;
			background: url(../img/wx.png) no-repeat;
			background-size:contain;
			margin: 20px 20px 0 0;
		}
		.two_dimension_code img{
			width: 200px;
			height: 200px;
			float: left;
			border-radius: 10px;
			opacity: 0.9;

		}
		.knight{
			text-align: center;
			margin-top:60px; 
			color: #ccc;
		}
		.contact_content{
			opacity: 0;
		}